<h1><%= @members. %></h1>
Total Members = <%= @members.count %>

<% @members.each do |member| %>
  Name: <%= member[:name] %> </br>
  Allies <%= member[:allies] %> </br>
  Enemies <%= member[:enemies] %> </br>
<% end %>
