<h1> <%= @nation %></h1>
<h2> Total Members = <%= @members.count %> </h2> </br>

<% @members[0..24].each do |member| %>
  <h3>Name: <%= member[:name] %></h3>
  <% if member[:photoUrl].present? %>
      <img src="<%= member[:photoUrl] %>" alt="Image of <%= member[:name] %>" />
    <% else %>
      <p>No image available</p>
    <% end %> </br>
  Allies: <%= member[:allies] %> </br>
  Enemies: <%= member[:enemies] %> </br>
  Affiliations: <%= member[:affiliation] %> </br>
<% end %>
